<h1>Welcome to Kimmel Nexus!</h1>

<p>Your new phone number is: <%= @user.phone_number %></p>
<p>To access this app in the future, please use the following details.</p>
<ul>
  <li><strong>URL:</strong> <a href="https://kimmel.io">https://kimmel.io</a></li>
  <li><strong>Email:</strong> <%= @user.email %></li>
</ul>

<h2>Please ensure you allow web notifications in Chrome when prompted!</h2>
