<h1>New Voicemail from <%= @call.from_phone_number %></h1>

<p>You have received a new voicemail.</p>
<p><%= link_to_frontend(text: 'View Voicemail in Nexus', url: 'voicemails'); %> </p>
<p>The audio file has been attached.</p>
